<h1 class="p-2">Your Events</h1>
<% if @created_events.any? %>
  <h2 class="p-2">Organised by you:</h2>
  <div class="container">
    <%= render @created_events %>
  </div>
<% end %>
<h2 class="p-2">Your Upcoming Events</h2>
<div class="container">
  <% @attending_events.each do |event| %>
    <% if event.date >= Date.today %>
      <%= render event %>
    <% end %>
  <% end %>
</div>
<h2 class="p-2">Your Past Events</h2>
<div class="container">
  <% @attending_events.each do |event| %>
    <% if event.date < Date.today %>
      <%= render event %>
    <% end %>
  <% end %>
</div>